html, body {
    margin: 0;
    height: 100%;
}

.main {
	height: 100%;
	width:100%;
	background-color: #03A678;
	position: relative;
	
	.friends{
		width: 20%;
		position: absolute;
		top: 0;
		right: 0;

		.friend{
			margin-bottom: 5px;
			background-color: #FFF;
			height:80px;
			padding-left: 5px;
		}

		.username{
			width: 70%;
			display: inline-block;
		}

		.invited{
			width: 20%;
			height:inherit;
			display: inline-block;
			right: 0;
		}
	}
}

.authentication {
	background-color: red;
	height:100px;
	width:100px;
}

.home {
	background-color: blue;
	height:100px;
	width:100px;
}


.event {
	background-color: green;
	height:100px;
	width:100px;
}

