/* TO RESET CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF RESET */ 

html, body {
	margin: 0;
	height: 100%;
	padding: 0;
}

.main {
	background-color: #34495E;

	.main-center-div {
		height: 100%;
		display:flex;
		justify-content:center;
		align-items:center;
	}
	
	.friends-column{
		background-color: #674172;
		overflow-y:scroll;
		padding:0;
		height: inherit;



		.friend {
			height:135px;
			width:100%;
			background-color:white;
			margin-top:2px;
			padding-left: 5px;
		}

		.username{
			width: 70%;
			display: inline-block;
			color:black;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}

		.invited{
			float:right;
			height:135px;
			width:30%;
			background-color: #71c458;
			display: inline-block;
			right: 0;
		}

		.checkmark{
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}


.home {
	text-align: center;
	height:100vh;
}


/* STILL HAVE TO FIX TO RESPONSIVE VERTICAL ALIGN */
.login-button {
	position: relative;
	top:480px;
	transform: translateY(-50%);
}

.side-menu {
	width:320px !important;
	background-color: grey;
	position:absolute;
	padding-left:-15px;
	left:-320px;
	margin-left:0 !important;
	overflow-y:scroll;
	padding:0;
	height: 100%;
}

.side-menu.open {
	width:320px !important;
	background-color: #674172;
	position:absolute;
	top:0;
	left:0;
	margin-left:0 !important;
	overflow-y:scroll;
	padding:0;
	height: inherit;
}

.profile {
	height:320px;
	width:320px;
	background-color: white;
}

.current-event {
	height:135px;
	width:100%;
	background-color:white;
	margin-top:1px;
	padding-left: 5px;
	padding-top: 20px;
	color:black;

}



