html, body {
    margin: 0;
    height: 100%;
}

.main {
	height: 100%;
	width:100%;
	background-color: #03A678;
	
}

.home {
	text-align: center;
	height:100vh;

}


/* STILL HAVE TO FIX TO RESPONSIVE VERTICAL ALIGN */
.login-button {
  position: relative;
  top:480px;
  transform: translateY(-50%);
}

 


